.contenedor-bienvenida {
  display: flex;
  flex-direction: column;

}

.contenedor-bienvenida:fullscreen {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.imagen-bienvenida {
  width: 90%;
  align-self: center;
}

/* Caja de texto */
.Mensaje-bienvenida {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  margin-top: 35px;
  margin-bottom: 20px;
}


/* Texto */
.Mensaje-bienvenida h1 {
  margin: 0 0 10px 0;
  color: rgb(116, 146, 192);
}

.Mensaje-bienvenida p {
  color: rgb(120, 131, 148);
}

a {
  color: #0c87b0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}