
#login-container-vh{
  display: flex;
  width: 450px;
  margin:  auto;
  height: 100vh;
}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  margin:  auto auto;
  font-family: Arial, sans-serif;
}

#login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#iframe-container {
  display: none; /* Se mostrará luego de la autenticación */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

iframe {
  height: 100%;
  border: none;
  width: 100%;
}

.header {
  background: linear-gradient(150deg,rgba(11, 57, 64, 1) 0%, rgba(18, 23, 43, 1) 100%);
  color: white;
  padding: 20px;
  position: relative;
  width: 100%;
}

.box {
  background-color: #ffffff;
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 20px;
  left: 40px;
}

.logo img {
  height: 30px;
}

.welcome {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.welcome .icono {
  /* Ajusta estilos si es necesario para el icono */
    margin: auto;
    width: 100px;
}

.icono img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* o 'contain' según lo que prefieras */
}

.welcome h2 {
  margin: 10px 0 5px;
}

.welcome p {
  font-size: 12px;
  padding: 10px 20px;
  color: #ddd;
}

.Titulo-box {
  margin: 13px 0px;
  width: 100%;
  font-weight: bold;
  font-size: large;
}

.login-box {
  margin: 13px 40px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-box button {
  background: rgba(11, 57, 64, 1);
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background: rgb(22, 70, 102);
}

/* Boton Expandir contraer */

.fullscreen-btn {
  position: absolute;
  top: 12px;
  transform: translateX(20px);

  display: flex;
  align-items: center;
  gap: 6px;

  padding: 6px 10px;
  font-size: 12px;
  font-weight: 500;

  background: rgb(22, 70, 102);
  color: #ffffff;

  border: 1px solid rgba(12, 135, 176, 0.25);
  border-radius: 6px;

  cursor: pointer;
  z-index: 10;

  backdrop-filter: blur(6px);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background 0.2s ease;
}

/* hover sutil */
.fullscreen-btn:hover {
  background: rgb(98, 134, 158);
  box-shadow: 1px 5px 10px 1px rgba(56, 79, 129, 0.562);
  color: rgb(255, 255, 255);
}


