.section {
  margin: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  border-left: 8px solid;
  border-left: 8px solid transparent;
}

.section.open{
  transition:ease;
}

.section:hover {
  background-color: #003366;
  color: #00a72f;
  border-left: #00a72f 8px solid;
}

.section i {
  transition: transform 0.3s ease;
  align-self: flex-end;
  text-align: left;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 3px 10px;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 
    max-height 0.4s ease-in-out,
    opacity 0.3s ease-in-out;
}

.section.open .section-content {
  max-height: 500px;
  opacity: 1;
  transition: 
    max-height 0.4s ease-in-out,
    opacity 0.3s ease-in-out;
}

.section.open .rotar i {
  transform: rotate(180deg);
}

.section .grupo {
  display: flex;
  align-items: center;
  gap: 0;
  padding: 8px 16px;
  transition: gap 0.4s ease;
}

.opcion {
  padding: 8px 25px;
  text-align: left;
  color: #5AE280;
}

.opcion a{
  color: white;
  text-decoration: none;
  display: block;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.opcion.active a{
  background-color: #00264d;
}

.opcion:hover {
  background-color: #003f7f;
  border-radius: 8px;
}

.icono {
  min-width: 20px;
  font-size: 15px;
  margin-right: 0px;
  vertical-align: middle;
  color: white;
}